<form class="form-horizontal">
    <h4>Global</h4>
    <div class="form-horizontal">
        <label class="control-label">Number of Relays</label>
        <div class="controls">
            <input type="number" min="1" max="8" class="input-small" data-bind="value: settings.plugins.relaycontrol.NbRelays">
        </div>
    </div>        
    <h4>Relays Configuration</h4>
    <div class="control-group">
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR1">
        </div>
         <div class="controls">
       <label class="control-label">{{ _('DftR1') }}</label>
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR1">
        </div>
        <label class="control-label">{{ _('PinR1') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR1">
        </div>
        <label class="control-label">{{ _('LblR2') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR2">
        </div>
        <label class="control-label">{{ _('DftR2') }}</label>
        <div class="controls">
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR2">
        </div>
        <label class="control-label">{{ _('PinR2') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR2">
        </div>
        <label class="control-label">{{ _('LblR3') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR3">
        </div>
        <label class="control-label">{{ _('DftR3') }}</label>
        <div class="controls">
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR3">
        </div>
        <label class="control-label">{{ _('PinR3') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR3">
        </div>
        <label class="control-label">{{ _('LblR4') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR4">
        </div>
        <label class="control-label">{{ _('DftR4') }}</label>
        <div class="controls">
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR4">
        </div>
        <label class="control-label">{{ _('PinR4') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR4">
        </div>
    </div>
    <div class="control-group">
       <label class="control-label">{{ _('LblR5') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR5">
        </div>
        <label class="control-label">{{ _('DftR5') }}</label>
        <div class="controls">
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR5">
        </div>
        <label class="control-label">{{ _('PinR5') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR5">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('LblR6') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR6">
        </div>
        <label class="control-label">{{ _('DftR6') }}</label>
        <div class="controls">
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR6">
        </div>
        <label class="control-label">{{ _('PinR6') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR6">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('LblR7') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR7">
        </div>
        <label class="control-label">{{ _('DftR7') }}</label>
        <div class="controls">
            <input type="checkbox" class="checked" data-bind="checked: settings.plugins.relaycontrol.DftR7">
        </div>
        <label class="control-label">{{ _('PinR7') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR7">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('LblR8') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.plugins.relaycontrol.LblR8">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('DftR8') }}</label>
        <div class="controls">
            <input type="checkbox" class="form-check-input" data-bind="checked: settings.plugins.relaycontrol.DftR8">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('PinR8') }}</label>
        <div class="controls">
            <input type="number" class="input-small" data-bind="value: settings.plugins.relaycontrol.PinR8">
        </div>
    </div>
</form>